<div class="info-card">
    <h2>User Information</h2>
    <div class="info-details">
      <div class="info-item">
        <span class="label">Name:</span>
        <span class="value">{{ user.firstName }} {{ user.lastName }}</span>
      </div>
      <div class="info-item">
        <span class="label">Date of Birth:</span>
        <span class="value">{{ user.dob }}</span>
      </div>
      <div class="info-item">
        <span class="label">Phone:</span>
        <span class="value">{{ user.phone }}</span>
      </div>
      <div class="info-item">
        <span class="label">Email:</span>
        <span class="value">{{ user.email }}</span>
      </div>
      <div class="info-item">
        <span class="label">Class:</span>
        <span class="value">{{ user.class }}</span>
      </div>
      <div class="info-item">
        <span class="label">Role:</span>
        <span class="value">{{ user.role }}</span>
      </div>
    </div>
    <button class="back-button" routerLink="/">Go Back</button>
  </div>
  
